name: Deploy EKS Cluster

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy to AWS
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - name: Terraform Init
      run: terraform init


    - name: Terraform Plan
      run: terraform plan
    

    - name: Terraform Apply
      run: terraform apply -auto-approve
   

    - name: Show Outputs
      run: terraform output
   

    - name: Wait for 5 minutes
      run: |
        echo "Waiting for 5 minutes before destroying resources..."
        sleep 300

    - name: Terraform Destroy
      run: terraform destroy -auto-approve
